# Le contexte racine sert uniquement à construire l'image HAProxy.
**

!haproxy/
!haproxy/Dockerfile
!haproxy/docker-entrypoint.sh

!templates/
!templates/haproxy.http.cfg.template
!templates/haproxy.https.cfg.template
