# Ports exposés et écoutés

# HTTP
HAPROXY_HTTP_PUBLIC_PORT=80
HAPROXY_HTTP_LISTEN_PORT=80

# HTTPS, utilisées seulement avec --https
HAPROXY_HTTPS_PUBLIC_PORT=443
HAPROXY_HTTPS_LISTEN_PORT=443
HAPROXY_CERTIFICATE_PATH=./certs/site.pem

# Backends
BACKEND_1_HOST=web1
BACKEND_1_PORT=80
BACKEND_2_HOST=web2
BACKEND_2_PORT=80

# Configuration HAProxy
BALANCE_ALGORITHM=roundrobin
CONNECT_TIMEOUT=5s
CLIENT_TIMEOUT=30s
SERVER_TIMEOUT=30s

# Benchmark
BENCHMARK_URL=http://haproxy/
BENCHMARK_THREADS=16
BENCHMARK_CONNECTIONS=1000
BENCHMARK_DURATION=30s
