global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect ${CONNECT_TIMEOUT}
    timeout client ${CLIENT_TIMEOUT}
    timeout server ${SERVER_TIMEOUT}

frontend web
    bind :${HAPROXY_HTTP_LISTEN_PORT}
    bind :${HAPROXY_HTTPS_LISTEN_PORT} ssl crt /etc/haproxy/certs/site.pem

    http-request redirect scheme https code 301 unless { ssl_fc }
    default_backend application

backend application
    balance ${BALANCE_ALGORITHM}
    server backend1 ${BACKEND_1_HOST}:${BACKEND_1_PORT} check
    server backend2 ${BACKEND_2_HOST}:${BACKEND_2_PORT} check
